<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>
    <h2>Uploaded Files</h2>
<ul>
    {% for file in files %}
    <li>{{ file }}</li>
    {% endfor %}
</ul>

<h2>Student Login History</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Timestamp</th>
    </tr>
    {% for login in logins %}
    <tr>
        <td>{{ login.id }}</td>
        <td>{{ login.email }}</td>
        <td>{{ login.timestamp }}</td>
    </tr>
    {% endfor %}
</table>


</body>
</html>
